.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: -90px;
    margin-top: -40px;
    max-width: 100%;
    background: linear-gradient(75deg, #f6bcbc, #ffffff); 
    color: black;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid #ccc; 
    border-radius: 10%;
    width:5150px;
    


}
.navbar .logo{
    width: 250px;
    height: 250px;
    margin-top: 10px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    font-family: 'Georgia', serif; /* Classic serif font */
    font-weight: bold;
    background: linear-gradient(75deg, #f6bcbc, #ffffff); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    
     /* White with 50% opacity */
    border-radius: 8px;
    border: none; /* Optional: adds rounded corners */
    padding: 10px;
    color: #4d040a;
    font-size: 20px;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
    font-weight: 900;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon img{
    width: 55px;
    height: 45px;
    object-fit: contain;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;

}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 25px;
}
.nav-profile-dropdown li:hover{
    color: #4d040a;
}
@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px){
   
    .navbar-menu{
        display: none;
    }
 
   
}